<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="Aportal Suite"
	annotations="JDK" parallel="tests">
    <listeners>
       <listener class-name="AportalTestClasses.Items"/>
  </listeners>

	<test name="Items Module Test Suite">

		<classes>
			<class name="AportalTestClasses.Items">
			 <methods>
			 <include name="CreateItem"/>
			    
			  
			</methods>
			
			</class>
		</classes>

	</test>

</suite>