<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="Aportal Suite"
	annotations="JDK" parallel="tests">
  

	<test name="Shipments Module Test Suite">

		<classes>
			<class name="AportalTestClasses.TestShipments">
			 <methods>
			 <include name="CreatShipment"/>
			 <include name="CreatePayment"/>
			 <include name="EditUserEmail"/>
			 <include name="EditSubmission"/>
			 <include name="ChangeStatus"/>
			    
			  
			</methods>
			
			</class>
		</classes>

	</test>

</suite>